/* CSS files add styling rules to your content */

h1 {
    font-family: fantasy;
    color: black;
    font-size: 1.7rem;
  }
  
  h3 {
     font-family: fantasy;
    color: white;
    background: black;
    font-size: 1.5rem;
    
  }
  
  p {
     font-family: fantasy;
    color: gray;
    font-size: 1rem;
    
  }
  
  li {
    font-family: fantasy;
    color: black;
    font-size: 1rem;
  }
  
  footer {
    width: 500px;
    height: 50px;
    padding: 20px;
    border: 5px solid black;
  }

  footer a:hover {
    color:blueviolet;
  }